<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pcjinrong.pcjr">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/pcjr_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".App">

        <activity android:name=".ui.views.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.views.activity.LoginActivity"/>
        <activity android:name=".ui.views.activity.FinancialRecordsActivity"/>
        <activity android:name=".ui.views.activity.WebViewActivity"/>
    </application>

</manifest>