<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pcjinrong.pcjr">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <!-- 【必须】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/pcjr_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".App">

        <activity android:name=".ui.views.activity.SplashActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.views.activity.MainActivity" android:launchMode="singleTask" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.RegistActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.FinancialRecordsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.InvestRecordsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.TradeRecordsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.PaymentPlanActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.SafeSettingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.BindMobileActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.UnbindMobileActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.RealNameVerifiedActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.UnRealNameVerifiedActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.ChangePasswordActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.BankCardActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.AddBankCardActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.MsgCenterActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.MsgDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.WithdrawActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity android:name=".ui.views.activity.CouponActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.InvestTicketActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.InvestTicketDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.RedPacketActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.InvestDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.InvestActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity android:name=".ui.views.activity.GestureEditActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.GestureVerifyActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.WebViewActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.WithdrawRechargeActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>


        <!-- 【必须】 信鸽receiver广播接收 -->
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v2" >
            <intent-filter android:priority="0x7fffffff" >

                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK" />
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
                <!-- 【必须】 系统广播：开屏和网络切换 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <!-- 【必须】 (2.30及以上版新增)展示通知的activity -->
        <!-- 【注意】 如果被打开的activity是启动模式为SingleTop，SingleTask或SingleInstance，请根据通知的异常自查列表第8点处理 -->
        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:exported="true" >
            <intent-filter>
                <!-- 若使用AndroidStudio，请设置android:name="android.intent.action" -->
                <action android:name="android.intent.action" />
            </intent-filter>
        </activity>

        <!-- 【必须】 信鸽service -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushService"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v2" />

        <!-- 【必须】 通知service，此选项有助于提高抵达率 -->
        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.pcjinrong.pcjr.PUSH_ACTION" />
            </intent-filter>
        </service>

        <!-- 【必须】 请将YOUR_ACCESS_ID修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100205982" />
        <!-- 【必须】 请将YOUR_ACCESS_KEY修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="ATID8V4K441B" />

    </application>

</manifest>