<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pcjinrong.pcjr">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/pcjr_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".App">

        <activity android:name=".ui.views.activity.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.views.activity.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.FinancialRecordsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.InvestRecordsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.TradeRecordsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.PaymentPlanActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.SafeSettingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.BindMobileActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.UnbindMobileActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.RealNameVerifiedActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.UnRealNameVerifiedActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.ChangePasswordActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.BankCardActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.AddBankCardActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.MsgCenterActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.MsgDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.WithdrawActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.CouponActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.InvestTicketActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.InvestTicketDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.RedPacketActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.InvestDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.InvestActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.GestureEditActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.GestureVerifyActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.views.activity.WebViewActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>